/* Default styles */

body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #1A1818;
}
body p{
    font-size: 18px;
}
body h1{
    font-weight: 800;
    font-size: 70px;
    line-height: 120%;
}
body h3{
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
}
body h4{
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #1A1818;
    border-radius: 32px;
}

@media (max-width: 800px) {
    body h1{
        font-size: 45px;
        line-height: 120%;
    }
    body h3{
        font-size: 36px;
        line-height: 68px;
    }
    body h4{
        font-size: 24px;
        line-height: 150%;
    }
}

.header .container{

}
.header .logo-wrapper, .header .logo-wrapper img{
    height: 46px;
}
.button{
    background: #05333C;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0 32px;
    height: 45px;
    max-width: 180px;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    border: unset;
    transition: 0.3s;
    cursor: pointer;
}
.button:hover{
    background: #0A5867;
}
.button:disabled{
    opacity: 0.4;
    cursor: unset;
}
.button.contact{
    background: #8C1429;
}
.button.contact:hover{
    background: #B9102E;
}
.button svg{
    margin-left: 10px;
}
.header{
    transition: 0.6s;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    padding: 12px 0px;
}

.header-wrapper .nav{
    display: flex;
    align-items: center;
}
.header-wrapper .menu-burger{
    height: 30px;
    margin-left: 50px;
    width: 40px;
    cursor: pointer;
}
.header .logo-black{
    display: block;
}
.header .logo-white{
    display: block;
}
.header-wrapper .menu-burger > * {
    height: 100%;
}
.header .menu-burger.main{
    background-size: auto;
    background: url("../img/burger-open.png") no-repeat center;
}
.header .header-active-wrapper{
    display: none;
    transition: 0.8s;
}
.header.active .mobile-lang-wrapper{
    display: none;
}
.header.active .header-active-wrapper{
    display: block;
    position: absolute;
    height: 100vh;
    opacity: 0;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 30;
    background: #1A1818;
}
.header.active .header-bottom{
    padding: 50px 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.header.active .header-bottom .menu-item{
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
}
.header.active .header-bottom .menu-item a{
    text-decoration: none;
    color: #fff;
}
.header.active .header-bottom .menu-item a:hover{
    color: #B9102E;
}

.header.active .header-bottom .menu-item .img, .header.active .header-bottom .default-menu-img{
    opacity: 0;
    transition: 0.6s;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 225px );
    left: 0;
    z-index: 40;
    pointer-events: none;
}
.header.active .header-bottom .menu-item:hover .img{
    opacity: 1;
    z-index: 60;
    background: red;
}
.header.active .header-bottom .default-menu-img{
    opacity: 1;
}



.block-lang{
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.block-lang .lang-item{
    width: 35px;
    box-sizing: border-box;
    height: 35px;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    display: flex;
}
.block-lang .lang-item a{
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.block-lang .lang-item.active{
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    opacity: 1;
}
@media (max-width: 800px) {
    .header-wrapper .button{
        display: none;
    }
    .header.active .header-bottom{
        flex-direction: column;
        align-items: center;
    }
    .header.active .menu-item{
        padding-bottom: 30px;
    }
    .header.active .mobile-lang-wrapper{
        display: flex;
        justify-content: center;
    }
    .header.active .nav .block-lang{
        display: none;
    }
    .header.active .header-active-wrapper .container{
        justify-content: space-between;
        height: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .header.active .header-bottom .menu-item .img, .header.active .header-bottom .default-menu-img{
        display: none;
    }
}
/* Other styles */

.header-main .contact-info a{
    padding-top: 20px;
    justify-content: start;
    text-decoration: unset;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 32px;
    box-sizing: border-box;
}
@media (max-width: 800px) {
    .container{
        padding: 0 16px;
    }
}

.header-archive, .header-main{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    min-height: 400px;
    align-items: center;
    justify-content: space-between;
}
.header-archive h1, .header-main h1{
    margin-bottom: 20px;
}
.header-main p{
    padding-bottom: 20px;
}
.header-archive > * , .header-main > *{
    flex: 1;
}
.header-archive .img, .header-main .img{
    padding-left: 30px;
}
.header-archive img, .header-main img{
    width: 100%;
}
.archive-items.cases .archive-item {
    display: flex;
    padding-bottom: 100px;
}
.archive-items.cases .archive-item h3{
    margin-bottom: 34px;
}
.archive-items.cases .archive-item h4{
    padding-top: 30px;
}

.archive-items.cases .archive-item .short-description{
    margin-bottom: 30px;
    font-size: 16px;
}
.archive-items.cases .archive-item .team-list{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 9px;
}
.archive-items.cases .archive-item .team-list li{
    margin-right: 40px;
    margin-left: 20px;
}
.archive-items.cases .archive-item .team-list li:last-child{
    margin-right: 0;
}
.archive-items.cases .archive-item .description{
    margin-top: 20px;
    font-size: 16px;
}
.archive-items.cases .archive-item img{
    width: 100%;
    height: unset;
    filter: drop-shadow(0px 0px 31px rgba(188, 188, 188, 0.2));
    border-radius: 10px;
}
.archive-items.cases .archive-item .item-content{
    width: 60%;
}
.archive-items.cases .archive-item .img{
    padding-left: 20px;
    width: 40%;
}
@media (max-width: 800px) {
    .archive-items.cases .archive-item{
        flex-direction: column;
    }
    .archive-items.cases .archive-item .item-content{
        width: 100%;
    }
    .archive-items.cases .archive-item .img{
        padding-left: 0px;
        width: 100%;
    }
    .archive-items.cases .archive-item .description{
        margin-bottom: 50px;
    }
    .archive-items.cases .archive-item .team-list, .header-archive, .header-main{
        flex-direction: column;
    }
    .header-archive, .header-main{
        align-items: start;
        min-height: unset;
        padding-bottom: unset;
    }
    .header-archive .img, .header-main .img{
        margin-top: 40px;
        padding-left: 0;
    }
}

/* Default archive styles */

.archive-items.default{
    display: flex;
    flex-wrap: wrap;
}

.archive-items.default .archive-item{
    box-sizing: border-box;
    width: 50%;
}
.archive-items.default .archive-item .img{
    height: 300px;
    position: relative;
    overflow: hidden;
}
.archive-items.default .archive-item .img > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 31px rgba(188, 188, 188, 0.2));
}
.archive-items.default .archive-item:nth-child(2n+1){
    padding-right: 65px;
    padding-bottom: 70px;
}
.archive-items.default .archive-item:nth-child(2n){
    padding-left: 65px;
    padding-top: 70px;
}
.archive-items.default .item-content{
    padding-top: 20px;
}
.archive-items.default .archive-item .description{
    margin-top: 15px;
    font-size: 16px;
}
@media (max-width: 800px) {
    .archive-items.default{
        flex-direction: column;
    }
    .archive-items.default .archive-item{
        padding: 0!important;
        padding-bottom: 50px!important;
        width: 100%;
    }
}


/* Footer */
.wrapper-footer{
    display: flex;
    justify-content: space-between;
}
.wrapper-footer .logo{
    height: 50px;
}
.wrapper-footer a{
    text-decoration: none;
    color: #1A1818;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}
.wrapper-footer .menu-item{
    padding: 0 25px;
    list-style-type: none;
}

.contact-info a{
    display: flex;
    align-items: center;
    color: #1A1818;
    font-weight: 800;
    justify-content: end;
    margin-bottom: 8px;
}
.contact-info img{
    width: 18px;
    height: 18px;
}
.contact-info a:last-child{
    margin-bottom: 0;
}
.contact-info a > span{
    margin-left: 5px;
    text-transform: none;
}
.footer .top-footer{
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 50px;
    border: 1px solid #E6E6E6;
}
.top-footer .wrapper-menu{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}
.footer .bottom-footer .wrapper-footer{
    min-height: 50px;
    align-items: center;
}
.bottom-footer .other-links a{
    margin-left: 30px;
}
.bottom-footer .social-links{
    display: flex;
    align-items: center;
}
.bottom-footer .social-links a{
    display: block;
    height: 18px;
}
.bottom-footer .social-links img{
    height: 100%;
    margin: 0 16px;
}
@media (max-width: 800px) {
    .wrapper-footer a {
        font-size: 14px;
    }

    .wrapper-footer .logo {
        height: 34px;
    }

    .top-footer .wrapper-menu {
        display: none;
    }

    .footer .bottom-footer .wrapper-footer {
        flex-direction: column-reverse;
    }

    .bottom-footer .social-links {
        display: none;
    }

    .bottom-footer .other-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
    }

    .bottom-footer .other-links a {
        margin-left: unset;
    }

    .bottom-footer {
        padding-bottom: 25px;
    }
}






.archive-items-main{

}
.archive-items-main .archive-item-wrapper{
    padding-right: 30px;
    box-sizing: border-box;
}
.archive-items-main .archive-item{
    display: flex;
    box-shadow: 0px 0px 31px rgba(188, 188, 188, 0.2);
    border-radius: 10px;
}
.archive-items-main .item-content{
    padding: 30px;
}

.archive-items-main .item-content h4{
    font-size: 24px;
}
.archive-items-main .item-content p{
    font-size: 14px;
    max-height: 170px;
    overflow: hidden;
}
.archive-items-main .item-content a{
    font-size: 16px;
    color: #1A1818;
    text-decoration: unset;
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-weight: 800;
}
.archive-items-main .item-content a svg{
    margin-left: 10px;
}
.archive-items-main .archive-item .img{
    overflow: hidden;
    width: 210px;
    min-height: 267px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.archive-items-main .archive-item img{
    height: 100%;
}

.navigation-wrapper{
    margin-top: 46px;
    display: flex;
    min-height: 19px;
    align-items: center;
}
.navigation-wrapper .pagination{
    position: relative;
    display: flex;
    align-items: center;
    width: unset!important;
    right: unset!important;
    left: unset!important;
    top: unset!important;
    bottom: unset!important;
    padding: 0 30px;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 10px!important;
}
.navigation-wrapper .pagination .swiper-pagination-bullet-active{
    background: #1A1818;
}
.navigation-wrapper .pagination .swiper-pagination-bullet-active.animation{
    position: relative;
}
.navigation-wrapper .pagination .swiper-pagination-bullet-active.animation:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50px;
    border: 2px solid #1A1818;
    box-sizing: border-box;
    left: -6px;
    top: -6px;
    opacity: 0.2;
}
.navigation-wrapper .pagination .swiper-pagination-bullet-active.animation:after{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 20px;
    background: transparent;
    border-radius: 50px;
    border: 2px solid #1A1818;
    box-sizing: border-box;
    left: -6px;
    top: -6px;
}

.button-next, .button-prev{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.swiper-pagination-bullet{
    background: #1A1818;
    opacity: 0.5;
    width: 5px;
    height: 5px;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    width: 9px;
    height: 9px;
}
.swiper-button-disabled{
    opacity: 0.5;
    cursor: unset;
}
.wrapper-main-archives{
    padding-top: 100px;
    padding-bottom: 50px;
}
.wrapper-main-archives .content-archive p{
    margin-top: 20px;
    max-width: 50%;
}

.wrapper-main-archives .content-archive .button{
    margin-top: 30px;
}
.wrapper-main-archives .content-archive{
    padding-bottom: 40px;
}

.archive-items-main .archive-item.image-icon{
    box-shadow: unset;
    border-radius: unset;
}
.archive-items-main .archive-item.vertical{
    flex-direction: column;
}
.archive-items-main .archive-item.vertical .img{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}

.archive-items-main .archive-item.image-icon .img, .powerful_item .img{
    overflow: unset;
    max-width: 90px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 31px rgba(188, 188, 188, 0.2);
    border-radius: 10px;
}

.archive-items-main .archive-item.image-icon .item-content{
    padding: 20px 0;
}
@media (max-width: 800px) {
    .wrapper-main-archives{
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .archive-items-main .archive-item{
        flex-direction: column;
    }
    .archive-items-main .archive-item .img{
        width: unset;
        display: block;
        justify-content: unset;
        max-height: 178px;
    }
    .archive-items-main .item-content{
        padding: 30px 15px;
    }
    .archive-items-main .item-content a{
        margin-top: 15px;
    }
    .wrapper-main-archives .content-archive p{
        max-width: unset;
    }
}
.powerful_items{
    display: flex;
}
.powerful_item {
    max-width: 240px;
    margin-top: 40px;
}
.powerful_item .name {
    font-weight: 800;
    font-size: 16px;
    display: block;
    line-height: 22px;
    margin-top: 20px;
}
.padding-d{
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (max-width: 800px) {
    .padding-d{
        padding-top: 20px;
        padding-bottom: 30px;
    }
}
.block-list{
    margin-top: 15px;
    display: flex;
}
.block-list .item:before{
    content: '•';
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.block-list.horizontal .item:first-child:before{
    content: '';
    display: none;
}
.block-list .item{
    margin-right: 20px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}
.block-list.vertical{
    flex-direction: column;
}
.block-list.vertical .item {
    margin-bottom: 15px;
}
